a {
  text-decoration: none;
}
h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  font-style: italic;
}

footer {
  text-align: center;
}
.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

button {
  padding: 20%;
  border-radius: 1em;
  background-color: rgb(12, 161, 19);
}

button:hover {
  background-color: rgb(122, 218, 150);
  cursor: pointer;
}
